alabaster==0.7.10
Babel==2.4.0
bleach==2.0.0
certifi==2017.4.17
chardet==3.0.4
CommonMark==0.5.4
corner==2.0.1
cycler==0.10.0
decorator==4.0.11
docutils==0.14rc1
emcee==2.2.1
entrypoints==0.2.3
html5lib==1.0b10
idna==2.5
imagesize==0.7.1
ipython-genutils==0.2.0
Jinja2==2.9.6
joblib==0.11
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
nbconvert==5.2.1
nbformat==4.3.0
nbsphinx==0.2.14
numpy==1.13.0
numpydoc==0.6.0
pandas==0.20.2
pandocfilters==1.4.1
patsy==0.4.1
Pygments==2.2.0
pymc3==3.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
recommonmark==0.4.0
requests==2.18.1
scipy==0.19.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.2
sphinxcontrib-websupport==1.0.1
testpath==0.3.1
Theano==0.9.0
tqdm==4.14.0
traitlets==4.3.2
urllib3==1.21.1
webencodings==0.5.1
